.col{
   
    padding-top:10mm;
    padding-bottom: 10mm;
    padding-left:40%;
    margin-top: -2%;
    
    
    
}
.col-2{
    padding-bottom:5mm;  
}
.bt{
    padding-left:20%;
    margin-top: 7%;
    margin-left: 37%;
}
.design{
    border: 2px solid black;
    border-radius: 4px;
    background-color:lightgrey;
    text-align: center;
    text-decoration-color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
}
.centre{
    position: relative;
    background-color:azure;
    border-radius: 8px;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 }
 .value{
     margin-left: -150%;
     margin-top: 25%;
     
 }
 .table{
     border-style: solid;
     
 }
 .table th{
    font-weight: bold;
    -webkit-font-smoothing: antialiased;
    padding: 1em;
    color: rgba(7, 4, 48, 0.911);
    background-color: rgb(205, 248, 255)
   
}
.table td{
    color: #0c0b0b;
    padding: 0.7em 1em 0.7em 1.15em;
   
}
​
.table {
    background: #336ca6;
}
.table tr:hover {
    background: rgba(0,0,0,0.19);
}
.row{
   
    padding-top:10mm;
    padding-bottom: 10mm;
    padding-left:40%;
    margin-top: -7%;
    
   
    
    
    
}
.row-2{  
    padding-bottom:5mm;  
}
.design-1{
    
    
    
    border: 2px solid black;
    border-radius: 4px;
    background-color:lightgrey;
    text-align: center;
    text-decoration-color: black;
    font-size: medium;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    
    
}
.buy{
    margin-top: -195%;
    position: relative;
    background-color:green;
    padding: 16px;
   
    border-radius: 8px;
    font-size: 20px;
    margin-left:-11.7cm;
 
 }
 .buy:hover{
     box-shadow: 0 12px 16px 0 rgba(201, 198, 198, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
 }
 .sell:hover{
     box-shadow: 0 12px 16px 0 rgba(201, 198, 198, 0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
 
 }
 .sell{
    margin-top: -195%;
     position: relative;
     background-color:brown;
     padding:  16px;
     border-radius: 8px;
     font-size: 20px;
     
  }
.alert{
    margin-left: -11.9cm;
    text-align: center;
    border-style:groove;
    background-color:rgb(208, 230, 17);
    font-style: normal;
    font-weight: bolder;
    font-size: larger;
    width: 55%;
    margin-top: 2mm;
    margin-bottom: -11cm;
}